:root {
  --map-width: 70%;
  --map-height: 650px;
  --header-height: 100px;
  --layout-y: 20px;
  --layout-x: 2%;

  --box-color: rgba(160, 180, 180, 0.8);
  --box-radius: 5px;
}

body {
  font: menu;
  /* background: #444; */
  color: #ebebeb;
  background-image: url(images/fond1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#layout {
  margin: 0;
  padding: var(--layout-y) var(--layout-x);
}

header {
  margin: 0;
  height: var(--header-height);
}

#header {
  max-width: 37%;
  margin: auto auto;
  border-radius: var(--box-radius);
}

header h1 {
  height: 65%;
  margin: auto auto;
  font-size: 3.4em;
  background-color: var(--box-color);
  border-radius: var(--box-radius);
  text-align: center;
}

#map-container {
  height: var(--map-height);
  border-radius: var(--box-radius);
  background-color: var(--box-color);
}

#map {
  margin: 0 auto;
  top: calc(var(--header-height) + var(--layout-y));
  left: calc(100% - var(--map-width)/2 - var(--layout-x));
  transform: translateX(-50%);
  width: var(--map-width);
  height: var(--map-height);
}

#legend {
  width: calc(100% - var(--map-width) - var(--layout-x)/2);
  height: var(--map-height);
  padding: var(--layout-y) var(--layout-x);
  border-top-left-radius: var(--box-radius);
  border-bottom-left-radius: var(--box-radius);
  background-color: var(--box-color);
}

#legend h2 {
  margin: 0;
}

footer {
  width: 60%;
  height: var(--header-height);
  margin: 0 auto;
}

footer p {
  position: absolute;
  bottom: 0 - (2*var(--header-height));
  left: 50%;
  transform: translate(-50%);
  height: 20px;
}

.toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all 0.1s;
  border-radius: 1em;
  background-color: #555;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8" fill="white"/></svg>');
  background-size: 1.1em 1.1em;
  background-repeat: no-repeat;
  background-position: 0.25em center;
  width: 3em;
  height: 1.5em;
  font: inherit;
}

.toggle:checked {
  background-color: #12bc00;
  background-position-x: right 0.25em;
}
