/* Layout */

html, body {
  height: 100%;
}

body {
  font: menu;
  color: #ebebeb;
  background-image: url(images/fond.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#layout {
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

/* Overlay */

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  border-radius: 4px;
  padding: 1em 2em;
  background-color: rgba(255,255,255,0.95);
  color: black;
  z-index: 1000;
  box-shadow: 0 4px 16px rgba(12,12,13,.5);
  display: none;
}

.overlay-on::after {
  content: "";
  position: absolute;
  background: rgba(12,12,13,.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay-on .overlay {
  display: block;
}

#presentation-overlay h1 {
  text-align: center;
}

#presentation-overlay {
  font-size: 1.2em;
}

#presentation-overlay > ul {
  padding-left: 1em;
}

#presentation-overlay button {
  font-size: 1.5em;
  margin: 1em auto;
  margin-top: 2em;
  display: block;
}

/* Header */

header {
  background-color: rgba(0,0,0,0.3);
  padding: 0 1em;
  font-size: 3.4em;
  text-align: center;
}

header h1 {
  font-size: 1.3em;
}

/* Map layout */

#map-container {
  min-height: 75%;
}

#map {
  background: white;
  position: relative;
}

#map::before {
  position: absolute;
  content: "Loading...";
  z-index: 999;
  background-color: rgba(0,0,0,0.4);
  padding: 1em;
  font-size: 1.25em;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map:not(.loading)::before {
  display: none;
}

#legend {
  background-color: rgba(0,0,0,0.3);
  min-width: 35%;
  max-width: 35%;
  padding: 0 1.1em 1em;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#legend .tabcontent {
  overflow: auto;
  flex-grow: 1;
}

#slider-container {
  width: 100%;
  background: rgba(0,0,0,0.3);
  opacity: 1;
  padding: 1em 0;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.3);
}

.ico {
  width: 50px;
  height: 50px;
  margin: 10px 20px;
  background: rgba(255,255,255,0.5);
  border-radius: 8px;
}

#footer-links {
  width: 100%;
  display: flex;
  justify-content: center;
}

#copyright {
  flex: 1;
  margin: 20px;
  text-align: center;
}

/* Typography */

h1 {
  font-size: 3em;
  font-weight: lighter;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

/* Buttons */

.btn {
  border: none;
  border-radius: 2px;
  background: #ededf0;
  padding: 0.5em 1em;
  color: #0c0c0d;
  text-decoration: none;
  font: inherit;
  display: inline-block;
  cursor: pointer;
  line-height: initial;
}

.btn:not(:first-child) {
  margin-left: 0.5em;
}

.btn:hover {
  background: #d7d7db;
}

.btn:hover:active {
  background: #b1b1b3;
}

.btn:focus {
  box-shadow: inset 0 0 0 2px #0a84ff, 0 0 0 3px rgba(10, 132, 255, 0.3);
  outline: none;
}

.btn-primary {
  background: #0c0c0d;
  color: #f9f9fa;
}

.btn-primary:hover {
  background: #38383d;
}

.btn-primary:hover:active {
  background: #2a2a2e;
}

.btn-error {
  background: #ff0039;
  color: #f9f9fa;
}

.btn-error:hover {
  background: #d70022;
}

.btn-error:hover:active {
  background: #a4000f;
}

.tab {
    display: inline-flex;
    justify-content: flex-start;
    background-color: rgba(0,0,0,0.3);
    width: auto;
    position: sticky;
    top: 0;
}

.tablinks {
  border: none;
  font-size: 2em;
  color: #ebebeb;
  background-color: transparent;
  padding: 15px 20px;
  cursor: pointer;
}

.tabcontent {
  background-color: rgba(0,0,0,0.6);
  padding: 1em 1.5em;
  font-size: 1.1em;
}

.tabcontent p {
  font-size: 1.6em;
}

.tab-active {
  background-color: rgba(0,0,0,0.6);
  color: #12bc00;
  box-shadow: 0 2px #12bc00 inset;
}

#categories label {
  font-size: 1.4em;
}

/* Toggles */

.toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all 0.1s;
  border-radius: 1em;
  background-color: #555;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8" fill="white"/></svg>');
  background-size: 1.1em 1.1em;
  background-repeat: no-repeat;
  background-position: 0.25em center;
  width: 3em;
  height: 1.5em;
  font: inherit;
  vertical-align: middle;
}

.toggle:checked {
  background-color: #12bc00;
  background-position-x: right 0.25em;
}

/* Sliders */
#slider-mines-time {
  width: 30%;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 10px;
  margin: 0;
  --notch-size: 3px;
  --num-steps: 0;
  /* Draw a vertical line to get one notch per background-image instance */
  background-image: linear-gradient(90deg, rgba(255,255,255,0.5) var(--notch-size),
   transparent 0);
  /* Offset the background so the notch aligns with the center of the slider thumb */
  background-position: 5px center;
  /* Repeat the background-image horizontally */
  background-repeat: repeat-x;
  /* Size the background to get nine visible notch instances. */
  /* background-size: calc(calc(100% / var(--num-steps)) - var(--notch-size) / 2) 10px; */
  background-size: 95% 10px;
  background-color: black;
  outline: none;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: #12bc00;
  border: none;
  border-radius: 100%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #12bc00; /* Green background */
  border: none;
  border-radius: 100%;
}
